<style>
    .table {
        width: auto;
        display: block;
    }
</style>

<i class="fa fa-headphones" aria-hidden="true">Music We Love</i>

<h1>Main dashboard</h1>

<div class="container">
    <div class="row">
        <div class = "col">
        <form action="/friends/create" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </form>
        <h3>Friends</h3>
        <table>
            <thead>
                <td>Names:</td>
            </thead>
            <tbody>
            <% @friends.each do |friend| %>
                <tr>
                    <td><a href="users/<%=friend.id%>"><%=friend.first_name%> <%=friend.last_name%></a></td>

                </tr>
            <% end %>
            </tbody>

        </table>

        <p>Find friends</p>
        <form action="/users/<%=current_user.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
        </form>


        <br>
        <br>
        <h3>past shows attended</h3>

        <table>
                <thead>
                    <td>Show details:</td>
                </thead>
                <tbody>
    
                </tbody>
    
            </table>
        </div>
    </div>
</div>
