

<% if @bands %>
    <% @bands.each do |b| %>
        <a href="/bands/<%= b.id %>/"><%= b.name %></a>
    <% end %>
<% end %>

<h3><%= @bandname %></h3>
<h4>Venue Name: <%= @venuename %></h4>
<h4>Location: <%= @venuelocation %></h4>
<h4>State: <%= @venuestate %></h4>
<h4>Date: <%= @eventdate %></h4>

<% if flash[:errors] %>
    <% flash[:errors].each do |f| %>
        <p> <%= f %> </p>
    <% end %>
<% end %>
<input id="searchName" type="text" name="band" value="Enter a band name">
<button id="bandsearch" type="button" name="button">Search</button>

<div id="band_results">

</div>

<script type="text/javascript">
    $(document).ready(
        $('#bandsearch').click(function(){
            var search_term = document.getElementById('searchName').value
            $.ajaxSetup({headers:{}})
            $.get('https://ws.audioscrobbler.com/2.0/?method=artist.search&artist=' +search_term+'&api_key=ba268e660cd43a240846b8eec02b92f9&limit=5&format=json',function(res){
                var artists = res["results"]["artistmatches"]["artist"]
                var html_str = ''
                for (x = 0; x < artists.length; x++){
                    var names = artists[x]["name"]
                    html_str += "<form action='/bands/new' method='post'><input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>"
                    html_str += "<input name='band' type='submit' value='"+String(artists[x]["name"])+"'>"
                    html_str += '<br>'
                }
                $('#band_results').html(html_str)
            })
        })
    )
</script>
